* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Noto Sans JP', sans-serif;
}


header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 32px 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

header .logo {
  font-size: 20px;
  color: #333;
  font-weight: bolder;
}

header .logo span {
  color: black;
}

header .navbar a {
  font-size: 15px;
  padding: 0 16px;
  color: #666;
}

header .navbar a:hover {
  color: #fe7600;
}

.active {
  color: #fe7600;
}

header .icons a {
  font-size: 16px;
  color: #333;
  margin-left: 18px;
}

header .icons a:hover {
  color: #fe7600;
}

header #toggler {
  display: none;

}

header .fa-bars {
  font-size: 18px;
  color: #333;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: none;
}


.men {
  padding: 40px 0px;
  background: white;
  color: black;
  text-align: center;
}

.inner {
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
  align-items: center;
}

.heading {
  display: inline-block;
  position: relative;
  color: black;
  font-size: 40px;
  margin-bottom: 30px;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-family: 'Peralta', cursive;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center
}


.heading:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.heading:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



.border {
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex: 25%;
  max-width: 25%;
  box-sizing: border-box;
  padding: 12px;
}

.fill {
  background: #ffffff;
  padding: 20px;
  height: 550px;
  width: 300px;
  transition: all .5s 0s ease-in-out;
}

.fill:hover {
  box-shadow: 1px 0px 6px 6px rgb(231, 226, 226);
}

.fill img {
  width: 260px;
  height: 260px;
  position: relative;
}

.new {
  height: 25px;
  width: 70px;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  color: white;
  background-color: black;
  margin-top: 50px;
  background-size: 50% 50%;
  margin-left: 90px;
}

.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
  font-family: 'Oswald', sans-serif;
}

.price {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.shop-btn{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.btn-cart {
background-color: black;
color: white;
padding: 14px 20px;
visibility: hidden;
}

.btn-shop {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 14px 20px;
  visibility: hidden;
  }

  .fill:hover .btn-shop{
    visibility: visible;
    transition:all .2s .5s ease-in-out;
  }

  .fill:hover .btn-cart{
    visibility: visible;
    transition:all .2s .5s ease-in-out;
  }

.container {
  margin-top: 60px;
  background-color: #1f3446;
  color: white;
}

.footerrow {
  display: flex;
  justify-content: center;
}

.footer-col {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;

  width: 30%;
}

.footer-col ul {
  margin: 20px;
}

.footer-col ul li {
  margin: 15px;
  font-size: 17px;
  font-weight: 300;
  list-style: square
}

.footer-col li a {
  color: white;
  text-decoration: none;
}


.lower-footer {
  background-color: #1b2f41;
  padding-bottom: 30px;
}

.lower-heading {
  padding-top: 30px;
}

.lower-heading h2 {
  color: white;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media button {
  border-radius: 3px;
  font-family: sans-serif;
  color: white;
  background-color: #FF7400;
  border: none;
  height: 35px;
  width: 80px;
  margin: 10px;
  cursor: pointer;
}

.social-media button:hover {
  transition: 0.3s ease-in;
  transform: translateY(-1px);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.lower-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.lower-nav a {
  text-align: center;
  margin: 0px 10px;
  color: white;
  text-decoration: none;
}

.copy-write p {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.burgur img {
  display: none;
  padding: 26px 34px;
  cursor: pointer;

}

.footer-heading {
  display: inline-block;
  border-bottom: 1px solid white;
}

.footer-heading h1 {
  padding-bottom: 4px;
}

.container {
  margin-top: 60px;
  background-color: #1f3446;
  color: white;
}

.footerrow {
  display: flex;
  justify-content: center;
}

.footer-col {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;

  width: 30%;
}

.footer-col ul {
  margin: 20px;
}

.footer-col ul li {
  margin: 15px;
  font-size: 17px;
  font-weight: 300;
  list-style: square
}

.footer-col li a {
  color: white;
  text-decoration: none;
}


.lower-footer {
  background-color: #1b2f41;
  padding-bottom: 30px;
}

.lower-heading {
  padding-top: 30px;
}

.lower-heading h2 {
  color: white;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media button {
  border-radius: 3px;
  font-family: sans-serif;
  color: white;
  background-color: #FF7400;
  border: none;
  height: 35px;
  width: 80px;
  margin: 10px;
  cursor: pointer;
}

.social-media button:hover {
  transition: 0.3s ease-in;
  transform: translateY(-1px);
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.lower-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.lower-nav a {
  text-align: center;
  margin: 0px 10px;
  color: white;
  text-decoration: none;
  font-size: 13px;
}

.copy-write p {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.footer-heading {
  display: inline-block;
  border-bottom: 1px solid white;
}

.footer-heading h1 {
  padding-bottom: 4px;
}

@media screen and (max-width:600px) {

  .heading {
    display: block;
    text-align: center;
    font-size: 40px;
    margin: auto;
  }

  .row {
    display: inline-block;
    width: auto;

  }

  .col {
    display: block;
  }

  .new {
    display: block;
    text-align: center;
  }

  .name {
    display: block;
    text-align: center;
  }
}

@media (min-width:601px) and (max-width:1024px) {
  .heading {
    display: block;
    text-align: center;
    font-size: 40px;
    margin: auto;
  }

  .row {
    display: flex;
  }

  .col {
    max-width: 50%;
  }

  .fill {
    flex-basis: 50%%;
  }

}


@media(max-width:900px) {
  header .fa-bars {
    display: block;
  }

  header .navbar {
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    background: #eee;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header #toggler:checked~.navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    margin: 16px;
    padding: 16px;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1);
    display: block;
  }

  .footerrow {
    flex-direction: column;
}

.footer-col {
    width: 100%;
}
}